# AdGuard Home Configuration
ADGUARD_URL=http://adguardhome:80
ADGUARD_USERNAME=your_adguard_username
ADGUARD_PASSWORD=your_adguard_password

# ntopng Configuration
NTOPNG_URL=http://ntopng:3000
NTOPNG_USERNAME=admin
NTOPNG_PASSWORD=admin
